{% extends 'layouts/main.html' %}

{% block content %}

<div class="main-container poster-content">

	{% include 'blocks/nav.html' %}

	<div class="clear"></div>

	<div class="container">

		<h1>{{ title }}</h1>

		<div class="clear"></div>

		<div class="content-poster">
			<div class="col-md-5">
				<img src="/media/posters/{{ poster.preview_poster }}" />
			</div>
			<div class="col-md-7">
				
				<div class="price-block">
					<p>{{ poster.price_poster }} KZT</p>
				</div>

				<div class="filter-block">
					<p>Цвет стены</p>
					<div class="clear"></div>
					<div class="filter-block-colors">
						<span data-color="#252525" style="background: #252525;"></span>
						<span data-color="#7b1d1d" style="background: #7b1d1d;"></span>
						<span data-color="#81881b" style="background: #81881b;"></span>
						<span data-color="#2aa5d4" style="background: #2aa5d4;"></span>
						<span data-color="#cdd650" style="background: #cdd650;"></span>
						<span data-color="#b7349b" style="background: #b7349b;"></span>
						<span data-color="#29afa2" style="background: #29afa2;"></span>
						<span data-color="rgb(216, 216, 216)" style="background: rgb(216, 216, 216);"></span>
						<span data-color="#fff" style="background: #fff;"><i class="fas fa-times"></i></span>
					</div>
				</div>

			</div>
		</div>

		<div class="clear"></div>

		<div class="tags-block-bottom">

			<div class="col-md-12">
				<h5>Поиск по тегам</h5>
			</div>

			<div class="clear"></div>	
		
			<div class="tags-block">
				{% for tag in tags %}
			
					{% if tagTitle == tag %}
						<a class="tag-active" href="/posters?tag={{ tag }}">{{ tag }}</a>
					{% else %}
						<a href="/posters?tag={{ tag }}">{{ tag }}</a>
					{% endif %}

				{% endfor %}
			</div>

		</div>


	</div>

</div>

{% endblock %}